.page {
  
}
#root{
}

.app {
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(top,
   rgb(106, 90, 205),rgb(106, 90, 205) 35%, 
   rgb(185, 183, 183) 30%, rgb(185, 183, 183));
  position:relative;
  padding: 0.5%;
}

.app2 {
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(top,
   rgb(106, 90, 205),rgb(106, 90, 205) 35%, 
   rgb(185, 183, 183) 30%, rgb(185, 183, 183));
  position:relative;
}

.mycontainer {
  width: 30%;
  margin: auto;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  position:absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top:30%;
  right: 35%;
}
.signUpContainer{
  background-color: white;
}

.extraLoginEdit{
  width: 25%;
}
.my-input {
  display: block;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #cecccc;
  border-radius: 4px;
}

.submit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  padding: 5px 0;
  background-color: green;
  color: white;
  border: 1px solid;
  border-radius: 4px;
}
.d1 {
  
  
  padding: 0% !important;
  background: #fff;
  height:100vh;
  overflow: auto;
}

.d2 {
  
  display: flex;
    flex-direction: column;
  height:100vh;
  background-image: linear-gradient(rgb(106, 90, 205),rgb(185, 183, 183));
 
}
.conv {
  display: flex;
    flex-direction: row;
    justify-content:flex-start; 
  width: 100%; 
  text-align: left;
  background:#fff;
}

button {
  padding: 1%;
}
.loginLogo{
    width: 8%;
    height: 8%;
    position: absolute;
    right: 45%;
    top: 20%;
}

.conversationImg{
  width: 20%;
  
}
.pageUse{
  text-align: left;
  font-weight: 700;
}

.inPageText{
  font-weight: 300;
}

.endPageText{
  position: absolute;
  right: 35%;
  top: 93%
}

.learnLink{
  position: absolute;
  right: 36%;
  top: 25%;
  color: #fff;
}

.profileLogo{
  width: 8%;
  height: 8%;
  position: absolute;
  right: 57%;
  top: 21%
}

.onlineIcon{
  text-align: right;
  width: 30%;
  display: inline-block;
  border: solid rgb(106, 90, 205);
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
}

.contactName{
  text-align: left;
  width: 70%;
  display: inline-block;
  border: solid rgb(106, 90, 205);
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
}

.personPic{
 
  display: inline-block;
  width: 70%;
}


.conv :hover {
  background-color: rgb(113, 107, 207);
}

.respon {
  text-align: right;
}

.massegeDate{
  font-weight: 200;
  font-size: 10px;
}

.contactInfo{
  display: flex;
    flex-direction: column;
    justify-content:space-around;
  width: 80%;
}

.conversationInfo{
  height: 50%;
  display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.chatRoom{
  overflow-y: auto;
  height: 90%;
  text-align: right;
}

.nameAndState{
  display: flex;
    flex-direction: row;
}

.writeMassage{
  background-color: #fff;
  display: flex;
}
.imoPlac{
  width: 20%;
  border: 1px solid rgb(113, 107, 207);
}
.ConversationList{
  display: flex;
    flex-direction: column;
  overflow: auto;
}


.chatTitle{
  display: flex;
    flex-direction: row;
  
}
.chatPic{
  width: 10%;
}
.massageSpan{
  background-color: rgb(73, 22, 114)
}

.footer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}


.sender {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
.receiver{
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
}
.massages{
  text-align: right;
}
.message {
  background-color: blue;
  border-radius: 0 10px 0 0;
}

.suggest {
  font-size: 10px;
  margin: 0;
  padding: 5px 15px;
  border-bottom: 1px solid #1b8ca1;

}
.suggestedAvatar {
  width: 15px;
  border-radius: 7.5px
}

.search{
  margin: 2%;
}
